.product{
    display: flex;
    border-bottom: 1px solid gray;
    padding: 5px;
    margin: 0px, 10px, 10px 0px;
}
.product-name{
    color: blue;
    font-weight: normal;
}
.cart-btn{
    background-image: linear-gradient(rgb(243, 207, 3), rgb(211, 147, 9));
    border: 1px solid rgb(92, 92, 92);
    border-radius: 5px;
    height: 25px;
    width: 100px;
    cursor: pointer;
}