.product{
    display: flex;
    border-bottom: 1px solid gray;
    padding: 5px;
    margin: 0px, 10px, 10px 0px;
}
.product-detail{
    padding-left: 20px
}
.product-name{
    color: blue;
    font-weight: normal;
    text-decoration: none;
}
.product-name:hover{
    text-decoration: underline;
    color: orangered;
}
.cart-btn{
    background-image: linear-gradient(rgb(243, 207, 3), rgb(211, 147, 9));
    border: 1px solid rgb(92, 92, 92);
    border-radius: 5px;
    
    padding: 5px 10px;
    cursor: pointer;
}